.blogs-title {
    text-align: center;
    color: rgb(12, 12, 124);
}

.blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;

}

.blogs-container div {
    border: 2px solid rgb(12, 12, 124);
    text-align: center;
}